.footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #a1a1aa; /* tom discreto */
}

.muted { opacity: .85; }

.link {
  font-weight: 500;
  text-decoration: none;
  outline: none;
}

.link:hover,
.link:focus { text-decoration: underline; }

